# Бинарники и локальные артефакты
/server
/miniwallet
bin/
*.exe

# Локальная база данных SQLite
*.db
*.db-shm
*.db-wal
*.log
# Environment-файлы с секретами
.env

# Go
/vendor/

*.out
coverage
coverage/
/c
